@import 'base/color';
@import 'base/typography';
@import 'utils/mixins';


/* TOOLBAR */
.mat-toolbar {
  background: #de4d44;
  color: white;
  padding-top: 25px;

  .mat-toolbar-row { padding: 0 40px; }
}


/* SPACER */
.spacer {
  flex: 1 1 auto;

  & + span {
    font-size: 14px;
  }
}


/* CONTAINER */
.container {
  background-image: linear-gradient(to bottom, $primary, $pink);
  overflow-y: scroll;

  .logo {
    .mat-icon:first-child {
      @include media(425px) {
        @include icon(30px !important);

        & + span { font-size: 14px !important; }
      }

      @include icon(35px);
      margin-right: 10px;

      & + span {
        font-size: 16px;
        font-family: $Lato-Bold;
      }
    }
  }

  %center-container {
    display: flex;
    justify-content: center;
  }

  .date-banner {
    @include media(425px) {
      align-items: center !important;
    }

    @extend %center-container;

    color: white;
    margin-top: 50px;
    flex: 1 1 auto;
    align-items: flex-end;
  }

  .employee-table {
    @extend %center-container;

    align-items: center;
  }
}
