@import 'base/color';
@import 'base/typography';


/* HOST */
:host {
  width: 100%;
  padding: 50px;
}


/* LOGO */
.logo {
  $breakpoint-375: 375px;

  display: flex;
  justify-content: center;

  /* MEDIA QUERY */
  @include media($breakpoint-375) {
    $size-35-important: 35px !important;

    .mat-icon {
      font-size: $size-35-important;
      height: $size-35-important;
      width: $size-35-important;
    }

    span {
      top: 7px !important;
      font-size: 16px !important;
    }
  }

  .mat-icon {
    $size-50: 50px;

    background: -webkit-linear-gradient($pink, $primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin-bottom: 40px;
    padding-right: 10px;
    font-size: $size-50;
    height: $size-50;
    width: $size-50;
  }

  span {
    font-family: $Lato-Bold;
    color: $light-orange;
    position: relative;
    top: 13px;
    font-size: 19px;
  }
}


/* FORM */
form {
  ::ng-deep .mat-error { text-align: right; }

  ::ng-deep .mat-form-field-infix { font-size: 15px; }

  .error {
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    font-size: 14px;
    font-weight: bold;
  }

  .mat-form-field {
    width: 100%;
    margin-bottom: 20px;


    ::ng-deep .mat-form-field-label-wrapper { font-size: 14px; }
  }

  button {
    width: 100%;
    border-radius: 20px;
    margin-top: 45px;
    background-image: linear-gradient(to right, $pink 0%, $primary 80%, $primary 100%);
  }

  button[disabled] {
    background-image: linear-gradient(to right, #f3c3c3 0%, #e89792 80%, #f7a9a4 100%)
  }
}
