<!-- LOGO -->
<div class="logo">
  <mat-icon class="float-left">access_time</mat-icon>
  <span>OFFICE TIME TRACKER</span>
</div><!-- END .logo -->


<!-- LOGIN FORM -->
<form [formGroup]="form"
      (submit)="login(form.value)"
      novalidate>

  <formly-form [fields]="fields"
               [form]="form">

    <button mat-flat-button
            color="primary"
            tabindex="-1"
            [disabled]="form.invalid">LOGIN</button>


    <mat-error *ngIf="errorMessage"
               class="error">{{ errorMessage }}</mat-error>

  </formly-form>

</form>
