<div class="container"
     fxFlex
     gdAlignRows="center"
     gdAlignColumns="center">

  <div class="wrapper">

    <mat-grid-list cols="2"
                   rowHeight="2:2.2">

      <!-- LOGIN FORM -->
      <mat-grid-tile>
        <app-login-form></app-login-form>
      </mat-grid-tile>


      <!-- HEADLINE -->
      <mat-grid-tile class="headline">
        <mat-icon>access_time</mat-icon>

        <h2>Tracks Employees' Time In and Out</h2>

        <hr/>

        <p class="text-center">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur adipiscing
          elit, sed do
        </p>
      </mat-grid-tile>

    </mat-grid-list>

  </div><!-- END .wrapper -->

</div><!-- END .container -->

