<div class="container"
     (window:resize)="setGridConfig($event.target.innerWidth)">

  <div class="wrapper">
    <mat-grid-list [cols]="gridColumn"
                   [rowHeight]="gridRowHeight">

      <!-- LOGIN FORM -->
      <mat-grid-tile class="form">
        <app-login-form></app-login-form>
      </mat-grid-tile>


      <!-- INTRO -->
      <mat-grid-tile class="intro">
        <app-intro></app-intro>
      </mat-grid-tile>

    </mat-grid-list>
  </div>

</div><!-- END .container -->

