@import 'base/typography';
@import 'utils/mixins';


/* TABLE ACTION ICONS */
.mat-icon {
  @include icon(17px);

  margin-right: 15px;
  cursor: pointer;

  &:first-child { color: #ea4624; }

  &:last-child { color: #c13136; }
}
