<div class="container">

  <!-- ADD EMPLOYEE BUTTON -->
  <div class="btn-wrapper">
    <button mat-stroked-button>
      <mat-icon>add</mat-icon>
      <span>ADD EMPLOYEE</span>
    </button>
  </div><!-- END .btn-wrapper -->

  <!-- EMPLOYEE TABLE-->
  <div class="mat-elevation-z8">
    <table mat-table
           matSort
           [dataSource]="dataSource">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell
            mat-sort-header
            *matHeaderCellDef> Name </th>

        <td mat-cell
            data-label="Name"
            *matCellDef="let element">
          <span>{{ element.name }}</span>
        </td>
      </ng-container>

      <!-- Time In Column -->
      <ng-container matColumnDef="clockIn">
        <th mat-header-cell
            *matHeaderCellDef> Clock In </th>

        <td mat-cell
            data-label="Clock In"
            *matCellDef="let element">
          <span>{{ element.clockIn | date: 'shortTime' }}</span>
        </td>
      </ng-container>

      <!-- Time Out Column -->
      <ng-container matColumnDef="clockOut">
        <th mat-header-cell
            *matHeaderCellDef> Time Out </th>

        <td mat-cell
            data-label="Clock Out"
            *matCellDef="let element">
          <span>{{ element.clockOut | date: 'shortTime' }}</span>
        </td>
      </ng-container>

      <!-- ACTIVE -->
      <ng-container matColumnDef="active">
        <th mat-header-cell
            mat-sort-header
            *matHeaderCellDef> Active </th>

        <td mat-cell
            data-label="Active"
            *matCellDef="let element">
          <span>
            <button mat-stroked-button
                    [class.active]="element.active">
              {{ element.active ? 'Active' : 'Inactive' }}
            </button>
          </span>
        </td>
      </ng-container>

      <!-- ACTION BUTTONS -->
      <ng-container matColumnDef="action">
        <th mat-header-cell
            *matHeaderCellDef></th>

        <td mat-cell
            data-label="Actions"
            *matCellDef="let element">
          <span>
            <mat-icon>edit</mat-icon>
            <mat-icon>delete</mat-icon>
          </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- PAGINATOR -->
    <mat-paginator [pageSizeOptions]="[8]"
                   hidePageSize="true"></mat-paginator>
  </div><!-- .mat-elevation-z8 -->
</div><!-- END .container -->
