@import 'base/color';
@import 'base/typography';
@import 'utils/mixins';


/* CONTAINER */
.container { margin-bottom: 70px; }

.pointer-none { pointer-events: none; }


/* TABLE */
table {
  position: relative;
  table-layout: fixed;


  /* TABLE MEDIA QUERY AT 768PX */
  @include media(768px) {

    %width-75 { width: 75vw !important; }

    ::ng-deep thead { display: none; }

    tr:nth-child(odd) { background-color: rgba(142, 134, 134, 0.075); }

    th { @extend %width-75; }

    td {
      display: flex;
      width: 100%;
      padding: 10px !important;

      @extend %width-75;

      &:last-of-type {
        text-align: left !important;
        border-bottom: 2px solid #0000001f;
        padding-right: 0;
      }

      &:before {
        content: attr(data-label);
        width: 40vw;
        margin-left: 20px;
        font-family: $Lato-Bold;
      }

      & > span {
        width: 60vw;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

    }


  }


  /* TABLE ROWS AND HEADERS */
  td.active {
    color: white;
    background-color: #de5d56;

    ::ng-deep .mat-icon {
       color: white;
       font-weight: bold;

       &:hover { transform: scale(1.2); }
    }
  }

  th {
    color: #000000ab;
    font-family: $Lato-Bold;
    font-weight: bold;
    height: 65px;
  }

  th, td {

    @include media(425px) {
      & { width: 100vw !important; }
    }

    &:not(:last-of-type) {
      overflow: hidden;
      width: 150px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:first-child { width: 300px; }

    &:last-of-type {
      width: 100px;
      text-align: center;
    }
  }


  /* ACTIVE / INACTIVE BUTTON */
  .mat-stroked-button {
    @mixin set-button-border-bg($border-color, $bg-color, $font-color: #00000099) {
      color: $font-color;
      border-color: $border-color;
      background-color: $bg-color;
    }

    font-size: 12px;
    height: 25px;
    line-height: 1;
    width: 80px;
    color: #585858;
    font-family: $Lato-Bold;

    @include set-button-border-bg(#00000030, #f3f3f3);

    &.active { @include set-button-border-bg(#629c44, white, #629c44); }

    ::ng-deep .mat-button-focus-overlay { display: none; }
  }
}


/* FORM FIELD */
.mat-form-field { width: 90%; }


::ng-deep {

  /* PAGINATION */
  .mat-paginator-range-actions {
    justify-content: center;
    width: 100%;
    padding: 15px;
  }

  .mat-paginator-range-label {
    margin-top: 3px !important;
  }

  div:not(.mat-sort-header-sorted) > .mat-sort-header-arrow {
    opacity: 0.54 !important;
    transform: translateY(0) !important;
  }

  /* SNACKBAR */
  %text-white {
    color: white;
  }

  .mat-simple-snackbar {
    @extend %text-white;
    font-family: $Lato-Bold;
  }

  .mat-simple-snackbar-action {
    @extend %text-white;
  }

}






