<div class="container">

  <!-- ADD EMPLOYEE BUTTON -->
  <app-add-employee-btn (showEmployeeForm)="showForm($event)"></app-add-employee-btn>

  <!-- EMPLOYEE TABLE-->
  <div class="mat-elevation-z8">
    <table mat-table
           matSort
           [dataSource]="dataSource">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell
            mat-sort-header
            *matHeaderCellDef> Name </th>

        <td mat-cell
            data-label="Name"
            *matCellDef="let element">

          <span *ngIf="element.name">{{ element.name }}</span>

          <span *ngIf="!element.name">
            <mat-form-field floatLabel="never">
              <input matInput
                     [placeholder]="element.name">
            </mat-form-field>
          </span>

        </td>
      </ng-container>

      <!-- Time In Column -->
      <ng-container matColumnDef="clockIn">
        <th mat-header-cell
            *matHeaderCellDef> Clock In </th>

        <td mat-cell
            data-label="Clock In"
            *matCellDef="let element">

          <span>{{ element.clockIn | date: 'shortTime' }}</span>



        </td>
      </ng-container>

      <!-- Time Out Column -->
      <ng-container matColumnDef="clockOut">
        <th mat-header-cell
            *matHeaderCellDef> Time Out </th>

        <td mat-cell
            data-label="Clock Out"
            *matCellDef="let element">
          <span>{{ element.clockOut | date: 'shortTime' }}</span>
        </td>
      </ng-container>

      <!-- ACTIVE -->
      <ng-container matColumnDef="active">
        <th mat-header-cell
            mat-sort-header
            *matHeaderCellDef> Active </th>

        <td mat-cell
            data-label="Active"
            *matCellDef="let element">
          <span>
            <button mat-stroked-button
                    [class.active]="element.active">
              {{ element.active ? 'Active' : 'Inactive' }}
            </button>
          </span>
        </td>
      </ng-container>

      <!-- ACTION BUTTONS -->
      <ng-container matColumnDef="action">
        <th mat-header-cell
            *matHeaderCellDef></th>

        <td mat-cell
            data-label="Actions"
            [class.active]="isChangeState[element.id] || element.action"
            *matCellDef="let element; let i = dataIndex">

          <span *ngIf="!isChangeState[element.id] && !element.action && !isAddState">
            <mat-icon (mousedown)="changeState(element.action, element.id)">edit</mat-icon>
            <mat-icon (mousedown)="changeState(element.action, element.id)">delete</mat-icon>
          </span>

          <span [hidden]="!isChangeState[element.id] && !element.action">
            <mat-icon (click)="save(element.action, element, i)">done</mat-icon>
            <mat-icon (mousedown)="changeState(element.action, element.id)">clear</mat-icon>
          </span>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- PAGINATOR -->
    <mat-paginator [pageSizeOptions]="[8]"
                   hidePageSize="true"></mat-paginator>
  </div><!-- .mat-elevation-z8 -->
</div><!-- END .container -->
